* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FAEDED
}

header {
width: 100%;
height: 30%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.contena {
    display: flex;
}

.contena_left {
width: 30%;
height: 100%;
background-color: #573F2E

}

.contena_right {
    width: 70%;
    height: 100%;
    background-color: #3E2D21
}

main {
    width:  70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 30%;
}

.midoru {
    width: 100%;
    height: 70%;
}

.midoru_right {
    width: 100%;
    height: 100%;
    background-color: #6a4021;
}

.bottom {
    width: 100%;
    height: 30%;
}

.bottom_right {
    width: 100%;
    height: 100%;
    background-color: #3E2D21;
}